// Solbit Sizes
// Intended to be overridden while inherited, when necessary. This can be done via SASS lazy loading.

// --------
// Defaults
// --------

// Media Sizes
$desktop: (min-width: 1024px)
$mobile: (max-width: 1023px)

// Page margin for each side of the page.
$page-margin: 10%
$page-margin-mobile: 5%
$content-margin: 1rem

// --------
// Elements
// --------

// Banner
$banner-padding: 1.25em $page-margin
$banner-padding-mobile: 1.25em $page-margin-mobile
$banner-top-heading-margin: 1em
$banner-top-h1-size: 1.5em
$banner-top-h2-size: 1em

// Buttons
$button-small-height: 2em
$button-normal-height: 2.5em
$button-radius: 0.25em
$button-border-width: 0.125em
$button-padding: 2em

// Code
$code-border-radius: 0.25em
$code-padding: 0.5em
$pre-margin-bottom: $content-margin
$pre-padding: 1em

// Headings
$heading-margin: 1em
$heading-margin-bottom: $content-margin

// Keyboard
$kbd-border-radius: 0.125em
$kbd-line-height: 2em
$kbd-margin: 0 0.25em
$kbd-padding: 0	0.5em

// Lists
$list-item-margin: 0.5em
$list-line-height: 2em
$list-margin-bottom: 1em
$list-padding: 0 2em

// Menus
$menu-label-width: 9.375em
$menu-link-gap: 1em 2em

// Pagination
$pages-padding: 1em
$pages-button-padding: 0 1.5em

// Quotes
$quote-margin: 0em 2em $content-margin
$quote-padding: 1em 1.5em
$quote-border-width: 0.125em

// Search
$search-desktop-width: 30em
$search-line-height: 3em
$search-padding: 0.5em

// Tables
$table-border-width: 0.125em
$table-cell-padding: 0 1em
$table-header-height: 3em
$table-margin-bottom: $content-margin
$table-row-height: 2em

// Video
$video-margin-bottom: $content-margin
$video-desktop-max-width: 70%

// ---------
// Structure
// ---------

// Content
$content-image-margin: $content-margin
$content-image-featured-margin: 2em
$paragraph-line-height: 1.5em
$paragraph-margin-bottom: $content-margin

// Footer
$footer-legal-margin: 1em 0
$footer-gap: 0.5em
$footer-padding: 2.5em $page-margin
$footer-padding-mobile: 2.5em $page-margin-mobile

// Header
$header-button-padding: 0 1em
$header-height-desktop: 5em
$header-height-mobile: 3.75em
$header-overlay-gap: 1em 0
$header-overlay-line-height: 2em
$header-padding: 0.625em $page-margin
$header-padding-mobile: 0.625em $page-margin-mobile
$header-button-padding: 0 1em

// Main
$main-padding: 1.25em $page-margin
$main-padding-mobile: 1.25em $page-margin-mobile
$main-gap: 2em

// Table of Contents
$toc-heading-font-size: 1.25em
$toc-margin-top: 4em
$toc-nav-font-size: 1em
$toc-nav-margin-top: 0.5em
$toc-nav-padding: 1em
$toc-nav-indent: 1em
