// Color Elements
// Intended to be overridden while inherited, when necessary. This can be done via LESS lazy loading.

// Background color of Buttons.
// Text will automatically contrast
@button-bg-color: #1a559c;

// Background color of navigational elements, namely Header, Footer, and Sidepane (including a faded out Overlay).
// Text will automatically contrast.
@navigation-bg-color: #26292b;

// Border color of an active link in a navigational element, namely the Header.
@navigation-active-link: #1a559c;

// Link Color
@link: #1a559c;

// Text color
@text : #333333;

// Misc. colors
@solusblue: #5294E2;
@white: #f5f5f5;

html {
	height: 100%;

	& > body {
		.fullWidth;
		height: 100%;
		color: @text;
		font-family: "Roboto";
		font-size: 14px;
		margin: 0;

		&:not([dir="rtl"]) { // LTR
			div[data-solbit="main"] {
				float: left;
			}
		}

		&[dir="rtl"] { // RTL
			div[data-solbit="main"] {
				float: right;
			}
		}

		div[data-solbit="main"] {
			.fullWidth;
			min-height: 100%;
			margin: 0;

			div[data-solbit="content"] {
				margin-bottom: 5%;

				// #region Scalable

				@media screen and (max-width: 1023px) { // Mobile
					width: 90%;
					margin: 5%;
				}

				@media screen and (min-width: 1024px) { // Non-Mobile
					.horizontalAlign(88%);
					margin-top: 3%;
				}

				// #endregion
			}
		}

		& > div[data-solbit="content-overlay"] { // Overlay for content
			height: e("calc(100% - 60px)");
			.fullWidth;
			background-color: fadeout(@navigation-bg-color, 20%);
			position: fixed;
			bottom: 0;
			z-index: 98;

			&:not([active]) { // Not actively showing
				display: none;
			}

			&[active] { // Actively showing
				display: block;
			}
		}
	}

	a { // Links
		color: @link;
		cursor: pointer;
		text-decoration: none; // No more underline for you!
	}

	img {
		border: 0;
	}
}
