a, button, div, span {
	&[data-solbit-icon] {
		&::before {
			font-family: "Solbit Icons";
		}
	}

	&[data-solbit-icon="categories"], &[data-solbit-icon="tags"] {
		&::before {
			content: "\f106";
		}
	}

	&[data-solbit-icon="check"], &[data-solbit-icon="checkbox"] {
		&::before {
			content: "\f100";
		}
	}

	&[data-solbit-icon="desktop"] {
		&::before {
			content: "\f10a";
		}
	}

	&[data-solbit-icon="error"] {
		&::before {
			content: "\f101";
		}
	}

	&[data-solbit-icon="github"] {
		&::before {
			content: "\f10d";
		}
	}

	&[data-solbit-icon="google_plus"] {
		&::before {
			content: "\f10e";
		}
	}

	&[data-solbit-icon="list"] {
		&::before {
			content: "\f108";
		}
	}

	&[data-solbit-icon="other"] {
		&::before {
			content: "\f10b";
		}
	}

	&[data-solbit-icon="mastodon"] {
		&::before {
			content: "\f10f";
		}
	}

	&[data-solbit-icon="menu"] {
		&::before {
			content: "\f102";
		}
	}

	&[data-solbit-icon="pin"] {
		&::before {
			content: "\f109";
		}
	}

	&[data-solbit-icon="reddit"] {
		&::before {
			content: "\f111";
		}
	}

	&[data-solbit-icon="rss"] {
		&::before {
			content: "\f103";
		}
	}

	&[data-solbit-icon="official"], &[data-solbit-icon="star"] {
		&::before {
			content: "\f104";
		}
	}

	&[data-solbit-icon="tooling"] {
		&::before {
			content: "\f10c";
		}
	}

	&[data-solbit-icon="twitter"] {
		&::before {
			content: "\f110";
		}
	}

	&[data-solbit-icon="community"], &[data-solbit-icon="user"] {
		&::before {
			content: "\f105";
		}
	}

	&[data-solbit-icon="users"] {
		&::before {
			content: "\f107";
		}
	}
}