// #region Alignment and Width Mixins

.fullWidth(){
	width: 100%;
}

.halfWidth() {
	width: 50%;
}

.horizontalAlign(@margin) when (ispercentage(@margin)){ // Horizontal Align based on margin
	@width: (100 - (unit(@margin) * 2));
	width: e("@{width}%");
	margin-left: @margin;
	margin-right: @margin;
}

.horizontalAlign(@margin) when (ispixel(@margin)) { // Horizontal Align based on margin
	@margindouble: unit(unit(@margin) * 2, px);
	width: e("calc(100% - @{margindouble})");
	margin-left: @margin;
	margin-right: @margin;
}

.horizontalAlignContainer(@width) when (ispercentage(@width)){ // Horizontal Align based On Container Width
	@halfMargin: unit((100 - unit(@width)) / 2, get-unit(@width));
	width: @width;
	margin-left: @halfMargin;
	margin-right: @halfMargin;
}

.horizontalAlignContainer(@width) when (ispixel(@width)) { // Horizontal Align based On Container Width
	@halfWidth: unit(unit(@width) / 2, get-unit(@width));
	width: @width;
	margin-left: e("calc(50% - @{halfWidth])");
	margin-right: e("calc(50% - @{halfWidth])");
}

// #endregion

// #region Animation Parametric Mixin - Allows easy adding of animations

.animate(@properties; @duration : 250){

	// #region When the animation is active

	&:not([data-solbit-render-animation="false"]){ // If we are not "overriding" Animation by setting render-animation to false
		transition: e(@properties) unit(@duration, ms); // String escape the provided properties that'll change in transform
		-moz-transition: e(@properties) unit(@duration, ms); // Gecko-specific
		-o-transition: e(@properties) unit(@duration, ms); // Opera-specific
		-webkit-transition: e(@properties) unit(@duration, ms); // Blink/WebKit-specific
	}

	// #endregion
}

// #region Sliding Mixin
// Returns properties that are used with the parent went the parent has [data-solbit-animation="slide"]

.slide(@pos; @milliseconds){ // Default slide using translateX

	.animate("transform", @milliseconds);

	&[data-solbit-animation="slide"]{
		transform: translateX(@pos); // Set translateX to @pos, where pos can be px, e(calc()), etc.
		-moz-transform: translateX(@pos); // Gecko-specific
		-ms-transform: translateX(@pos); // IE / Edge specific
		-o-transform: translateX(@pos); // Opera-specific
		-webkit-transform: translateX(@pos); // Blink/WebKit-specific
	}
}

// #endregion