// Footer
footer
	@include fullWidth()
	@include column
	gap: $footer-gap
	padding: $footer-padding
	background-color: $footer-bg-color

	b, p
		color: $footer-fg-color

	.legal
		margin: $footer-legal-margin

	@media screen and #{$mobile} // Mobile
		padding: $footer-padding-mobile

