// Table of Contents
.toc
	@include column
	align-items: end
	margin-top: $toc-margin-top

	> h1
		font-size: $toc-heading-font-size
	nav
		background-color: $toc-nav-bg-color
		margin-top: $toc-nav-margin-top
		padding: $toc-nav-padding
		width: initial
		h1, h2
			text-align: left
			color: $toc-nav-fg-color
			font-size: $toc-nav-font-size
		h1
			font-weight: bold
		h2
			padding-left: $toc-nav-indent

@media screen and #{$mobile}
	.toc
		display: none

